# Topic Tuple in Python 
1. Order datatype 
2. ( ) 
3. Inmutable 
the tuple work by **index value** we can access the value of tuple by index
4. we cannot **update** , **delete**, and **we cannot change the value** of tuple

In [3]:
t=(20 ,30 ,40, 50)
print(t)
a=t[3]
print(a)
print(type(t))
t=('python')
print(type(t))

(20, 30, 40, 50)
50
<class 'tuple'>
<class 'str'>

In [8]:
t=(20,3,50,40)
#   0 1  2  3
l=len(t)
#print(l)
for a in range(l):
    print(a)
    print(t[a])

0
20
1
3
2
50
3
40

In [11]:
t=(20,3,50,40)
#   0 1  2  3
#l=len(t)
#print(l)
for a in t:
    print(a)
   # print(t[a])

20
3
50
40

# Touple use in function 
* min 
* mix 
* count 
* index
* sum

In [17]:
# min function use minimum value show
t =(20,30,40,6,20,50)
m= min(t) 
print(m)

6

In [18]:
# max function use in maximum value show 
mix = max(t)
print(mix)

50

In [19]:
# count function any value in tuple a one element repeat in tuple
c= t.count(20)
print(c)

2

In [23]:
# index function show in tuple in index value 
ind=t.index(40)
print(ind)

2

In [26]:
# sum function use tuple value sum that sum work only integer and float value
S=sum(t)
print(S)
s=sum(t , 10)
print(s)

166
176